<div ngClass="utility__container" id="utilityBeginning">
    <div ngClass="utility__hook" id="utilityHook">
        <h2 ngClass="utility__title">Un pays ouvert au monde</h2>
        <p ngClass="utility__mainparaph">
            Pour peu que l'on soit renseigné, voyager au Panama se réalise facilement au point que l'on veuille tout faire pour y revenir ensuite.
        </p>
    </div>

    <div ngClass="utility__formalities" id="formalities">
        <h3 ngClass="utility__subtitles">Formalités d'entrée</h3>
        <p ngClass="utility__subparaphs">
            Le Panama vous attend les bras ouverts ! La plupart des visiteurs bénéficient d'une exemption de visa pour les séjours touristiques de courte durée. Vérifiez simplement les exigences en matière de passeport et les conditions spécifiques à votre pays avant de partir. Préparez vos valises, l'aventure vous attend !
        </p>
    </div>

    <div ngClass="utility__healt" id="healt">
        <h3 ngClass="utility__subtitles">Santé et sécurité</h3>
        <p ngClass="utility__subparaphs">
            Votre bien-être est notre priorité ! Avant de partir, consultez votre médecin pour vous assurer que vous êtes à jour avec les vaccins recommandés. Protégez-vous des moustiques avec des produits répulsifs et profitez des plages sans souci. Soyez toujours attentif à votre environnement, comme vous le feriez partout dans le monde. N'oubliez pas, votre sécurité est entre de bonnes mains !
        </p>
    </div>

    <div ngClass="utility__moving" id="moving">
        <h3 ngClass="utility__subtitles">Déplacements et transport</h3>
        <p ngClass="utility__subparaphs">
            Prêt à partir à l'aventure ? Le Panama regorge d'options de transport pour vous mener vers vos destinations de rêve. Que vous préfériez les vols rapides, les bus pittoresques ou les voitures de location, nous avons tout pour vous satisfaire. Explorez les routes panoramiques et imprégnez-vous de la beauté des paysages. Le voyage est une partie du plaisir, alors détendez-vous et profitez de la balade !
        </p>
    </div>

    <div ngClass="utility__booking" id="booking">
        <h3 ngClass="utility__subtitles">Hébergement</h3>
        <p ngClass="utility__subparaphs">
            Où allez-vous poser vos valises ? Le Panama offre une gamme d'hébergements qui s'adaptent à tous les goûts et tous les budgets. Des hôtels de charme aux auberges branchées en passant par les complexes luxueux, nous avons ce qu'il vous faut pour un séjour inoubliable. Réservez votre petit coin de paradis dès maintenant et préparez-vous à vous détendre dans le confort après une journée d'aventures !
        </p>
    </div>

    <div ngClass="utility__money" id="money">
        <h3 ngClass="utility__subtitles">Argent et échanges de devises</h3>
        <p ngClass="utility__subparaphs">
            Il est temps de mettre votre argent en action ! La monnaie officielle du Panama est le balboa, mais ne vous inquiétez pas, vous pouvez également utiliser le dollar américain partout. Les distributeurs automatiques de billets sont facilement accessibles, vous permettant de retirer des fonds en toute circonstances.
        </p>
    </div>
</div>