@use '../../../../../styles.scss' as *;

.invitation{
    &__container{
        width: 80%;
        max-width: 1100px;
        margin: 4.5rem auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        background-color: white;
    }
}