@use '../../../../../styles.scss' as *;

.invitation{
    &__container{
        width: 80%;
        max-width: 1100px;
        margin: 4.5rem auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        background-color: white;
    }
    &__hook{
        opacity: 0;
        transition: opacity 1s ease;
        text-align: center;
    }
    &__title{
        font-size: clamp(1.75rem, 5vw, 2.5rem);
    }
    &__subtitles{
        font-size: clamp(1.5rem, 5vw, 1.75rem);
    }
    &__mainparaph{
        font-size: clamp(1.1rem, 2vw, 1.5rem);
    }
    &__subparaphs{
        font-size: clamp(1rem, 2vw, 1.1rem);
    }
}

.invitation__culture, .invitation__biodiversity, .invitation__beach, .invitation__activity, .invitation__canal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity 1s ease;
        &__text{
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1;
            &>p{
            }
        }
}

.is-visible{
    opacity: 1;
}