<div ngClass="invitation__container" id="invitationBeginning">
    <div ngClass="invitation__hook" id="invitationHook">
        <h2 ngClass="invitation__title">Le Panama : Le tourisme sous toutes ses formes</h2>
        <p ngClass="invitation__mainparaph">
            Quelque soit la manière dont on espère vivre une expérience touristique, le Panama peut l'offrir. Des sports extrêmes aux plus belles visites de cette partie du monde, chacun peut trouver la perle rare pour faire de son voyage une des plus belles expériences de sa vie. 
        </p>
    </div>


    <div ngClass="invitation__culture" id="invitationCulture">
        <h2 ngClasss="invitation__subtitles">Une culture unique</h2>
        <p ngClass="invitation__subparaphs">La culture panaméenne est très riche et diversifiée. La musique, la danse, l'artisanat et la cuisine reflètent l'héritage espagnol, africain et autochtone du pays. Les événements culturels tels que la Fête de l'Indépendance du Panama, les 3 et 4 novembre, ou le Carnaval de Las Tablas en février sont des moments forts pour découvrir cette culture unique.</p>
    </div>

    <div ngClass="invitation__biodiversity" id="invitationBiodiversity">
        <h2 ngClasss="invitation__subtitles">La biodiversité</h2>
        <p ngClass="invitation__subparaphs">Le Panama abrite une faune et une flore très riches, avec des espèces endémiques telles que le paresseux à trois doigts, le singe hurleur, le toucan ou encore le jaguar. Les parcs nationaux comme ceux de Soberania ou de Coiba offrent des possibilités à tout voyageur de découvrir la nature d'un pays possédant une des plus grandes biodiversités au monde.</p>
    </div>

    <div ngClass="invitation__beach" id="invitationBeach">
        <h2 ngClasss="invitation__subtitles">Les plages</h2>
        <p ngClass="invitation__subparaphs"> Pour un voyage plus calme, Le Panama propose de magnifiques plages de sable blanc et leurs eaux cristallines. Parmi les plus belles, on peut citer la plage de Santa Catalina, celle de Bocas del Toro ou encore la plage de Coronado. Ces endroits sont également idéales pour la pratique de sports nautiques tels que la plongée, le snorkeling ou encore le surf. De quoi ravir tout le monde.</p>
    </div>

    <div ngClass="invitation__activity" id="invitationActivity">
        <h2 ngClasss="invitation__subtitles">Les activités extrêmes</h2>
        <p ngClass="invitation__subparaphs">Le Panama est une destination idéale pour les amateurs d'aventure et de sports extrêmes. Les voyageurs peuvent essayer le surf, le rafting, la tyrolienne, la randonnée, le kayak et bien plus encore. Les sites d'aventure tels que l'Isla Contadora, les montagnes de Chiriqui ou les rivières du Darien offrent des expériences inoubliables pour tous les niveaux.</p>
    </div>

    <div ngClass="invitation__canal" id="invitationCanal">
        <h2 ngClasss="invitation__subtitles">Le canal</h2>
        <p ngClass="invitation__subparaphs">Comment parler du Panama sans mettre en avant son canal. Véritable merveille d'ingénierie et l'une des principales attractions touristiques du pays. Les visiteurs peuvent découvrir le canal à travers des visites guidées ou en visitant les musées consacrés à sa construction. Le passage des navires à travers les écluses est également un spectacle à ne pas manquer.</p>
    </div>    
</div>
