@use '../../../../styles.scss' as *;

header{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.mobileNavToggle{
    display: none;
}

.logo__container{
    &>img{
        width: 100px;
        cursor: pointer;
    }
}

.active{
    border-bottom: 1px solid $panamaBlue;
}

.nav{
    &__list{
        display: flex;
        flex-direction: row;
        gap: 15px;
        list-style-type: none;
    }
    &__item{
        &> a{
            color: $panamaBlue;
            text-decoration: none;
        }
    }
}