<main ngClass="tourism__main" id="tourismTitleContainer">
    <div ngClass="tourism__main__mask">
        <div class="tourism__title">
            <h1 id="tourismTitle">Une destination touristique riche en diversité</h1>
        </div>
    </div>
    <div ngClass="tourism__scrollbox" [style.opacity]="opacity" (click)="scrollToInvitation()">
        <img src="../../../../assets/icons/down-arrow.png" ngClass="tourism__scroll buttonTo" alt="scroll down icon">
    </div>
</main>



<app-invitation></app-invitation>