<div ngClass="introduction__container">
    <div ngClass="introduction__hook">
        <h2 ngClass="introduction__title">Le Panama, la république aux milles merveilles</h2>
        <p ngClass="introduction__mainparaph">
            Le Panama est un pays riche et authentique. Le découvrir c'est s'ouvrir à une nation mêlant culture, histoire, traditions et nature. 
        </p>
    </div>

    <div ngClass="introduction__geography">
        <div class="introduction__geography__text">
            <h3 ngClass="introduction__subtitles">
                Une singularité topographique
            </h3>
            <p ngClass="introduction__subparaphs">
                Petit pays d'Amérique centrale, le Panama héberge des paysages divers et variés et répond à toutes les possibilités venant à l'idée d'un visiteur. Que vous souhaitiez profiter de ses villes, montagnes, plages ou même forêts luxuriantes, le Panama saura répondre à toutes vos attentes.
                 Avec une telle proposition de territoires, le Panama était bien obligé d'avoir un climat agréable. En pleine zone tropicale, vous pourrez y trouver des températures chaudes dans la majorité du territoire mais aussi, si vous le souhaitez, un climat bien plus doux dans les nombreux reliefs qui le vallonnent.
            </p>
        </div>
        <div ngClass="introduction__geography__img">
            <img src="../../../../../assets/pictures/homepage/pexels-kelly-2380342.jpg" alt="">
        </div>
    </div>

    <div ngClass="introduction__heritage">
        <div class="introduction__heritage__text">
            <h3 ngClass="introduction__subtitles">
                Un patrimoine reconnu
            </h3>
            <p ngClass="introduction__subparaphs">
                Le Panama possède un patrimoine culturel et historique riche et diversifié. En effet, le pays est marqué par son passé colonial, avec des vestiges de l'époque espagnole, tels que la vieille ville de Panama, classée au patrimoine mondial de l'UNESCO depuis 1997. Les visiteurs pourront également découvrir des sites archéologiques précolombiens, témoins de la civilisation indigène qui a peuplé la région avant l'arrivée des Européens. Enfin, la culture panaméenne est un mélange de traditions africaines, espagnoles et amérindiennes, qui se reflète notamment dans la musique, la gastronomie et les différentes célébrations.
            </p>
        </div>
        <div ngClass="introduction__heritage__img">
            <img src="../../../../../assets/pictures/homepage/pexels-juan-diaz-10781211.jpg" alt="">
        </div>
    </div>

    <div ngClass="introduction__biodiversity">
        <div class="introduction__biodiversity__text">
            <h3 ngClass="introduction__subtitles">
                La biodiversité au coeur du pays
            </h3>
            <p ngClass="introduction__subparaphs">
                Le Panama est un pays qui abrite une incroyable diversité de paysages et d'écosystèmes, avec plus de 900 espèces d'oiseaux, 218 espèces de mammifères et plus de 10 000 espèces de plantes. On y trouve notamment la forêt tropicale humide, la mangrove, les récifs coralliens, les montagnes et les volcans. Le pays est également un point de passage important pour les migrations d'oiseaux et les espèces marines, ce qui en fait un lieu de prédilection pour les amateurs d'écotourisme et les biologistes en herbe. Les parcs nationaux sont nombreux et permettent de découvrir la richesse naturelle du pays, notamment le parc national du Darien, la réserve de la biosphère de Coiba et le parc national de la vallée d'Anton.
            </p>
        </div>
        <div ngClass="introduction__biodiversity__img">
            <img src="../../../../../assets/pictures/homepage/pexels-honey-badger-15773353.jpg" alt="">
        </div>
    </div>
</div>