<div ngClass="introduction__container">
    <div ngClass="introduction__hook">
        <h2>Le Panama, la république aux milles merveilles</h2>
        <p>
            Le Panama est un pays riche et authentique. Le découvrir c'est s'ouvrir à une nation mêlant culture, histoire, traditions et nature. 
        </p>
    </div>
    <div ngClass="introduction__geography">
        <h3>Une singularité topographique</h3>
        <p>
            Petit pays d'Amérique centrale, le Panama permet des paysages divers et variés et répond à toutes les possibilités venant à l'idée d'un visiteur. Que vous souhaitiez profiter de ses villes, montagnes, plages ou même forêts luxuriantes, le Panama saura répondre à toutes vos attentes.
             Avec une telle proposition de territoires, le Panama était bien obligé d'avoir un climat agréable. En pleine zone tropicale, vous pourrez y trouver des températures chaudes mais aussi, si vous le souhaitez, vous réfugier dans un des nombreux reliefs au climat plus doux.
        </p>
    </div>
    <div ngClass="introduction__">
        <h3>Un patrimoine reconnu</h3>
        <p>

        </p>
    </div>
    <div ngClass="introduction__">
        <h3>La biodiversité au coeur du pays</h3>
        <p>
            
        </p>
    </div>
    
</div>