@use '../../../../styles.scss' as *;

@keyframes hideReveal {
    from{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        z-index: -1;
        opacity: 0;
    }
}

// <main ngClass="home__main">
//     <div ngClass="home__main__mask">
//         <h1>Panama</h1>
//     </div>
// </main>



.home{
    &__title{
        padding: 40px 0;
        text-align: center;
        font-size: clamp(3rem, 10vw + 0.5rem, 5rem);
        font-size: 900;
        text-transform: uppercase;
        position: fixed;
        width: 100%;
    }
    &__main{
        background-image: url('../../../../assets/background/homepage/hero-parallax/pexels-karina-castillo-7204647.jpg');
        background-position: top;
        background-size: cover;
        height: 92vh;
        position: relative;
        &__mask{
            position: absolute;
            inset: 0;
            -webkit-mask: url("../../../../assets/background/homepage/hero-parallax/sky.png");
            -webkit-mask-position: top;
            -webkit-mask-size: cover;
            display: flex;

        }
    }
    &__container{
        margin: auto;
        display: grid;
        place-items: center;
        height: 50vh;
        width: 70%;
        background-color: rgb(255, 255, 255);

    }
    &__hide{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 4;
        background: #000000;
        opacity: 1;
        animation: hideReveal 2s ease-in-out both;
    }
}

@media (width <= 1100px){
    .home{
        &__hide{
            z-index: 2;
        }
    }
}