<div ngClass="landing__container" id="container">
    <div ngClass="landing__disappear" id="container--hide"></div>
    <div ngClass="landing__textzone">
        <button (click)="toHome()" ngClass="landing__CTA linkTo" id="homeButton">
            <span>Visiter</span> 
        </button>
        
        <svg width="200" height="200" >
            <circle cx="100" cy="100" r="80" stroke="none" fill="transparent" />
            <path id="circle" d="M 100, 100 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0" stroke="none" fill="none"/>
            <text font-size="16" text-anchor="middle" dy="-10">
                <textPath xlink:href="#circle" startOffset="50%" id="homeSvg">
                    Panama, Pro Mundi Beneficio / Panama, Pro Mundi Beneficio /
                </textPath>
            </text>
        </svg>
        
        
          
    </div>
</div>