@use '../../../../styles.scss' as *;

.landing{
    &__container{
        height: 100vh;
        width: 100vw;
        background-image: url('../../../../assets/background/landing-page/aljoscha-laschgari-Wb_UdXBlvQA-unsplash.jpg');
        background-size: cover;
        display: grid;
        place-items: center;
    }
    &__textzone{
        position: relative;
        overflow: visible;
        display: grid;
        place-items: center;
        & > svg{
            overflow: visible;
            animation: panamaRotate 15s linear infinite;
        }
    }
    &__CTA{
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: 150px;
        border: 2px solid #0003a0;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        background-color: #0003a0;
        border-radius: 50%;
        cursor: pointer;
    }
}

.landing__title, .landing__devise{
    color: #0003a0;
}

@keyframes panamaRotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}