*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//Fonts

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Pinyon Script';
    src: url('./assets/fonts/PinyonScript-Regular.ttf') format('truetype');
}

body{
    font-family: 'Poppins', sans-serif;
}